<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parishod.watomatic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <queries>
        <!-- Specific apps Watomatic interacts with. Required for Android 11+ -->
        <package android:name="com.whatsapp" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.facebook.mlite" />
        <package android:name="com.android.vending" />
        <package android:name="com.google.android.feedback" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaReply">

        <activity android:name="com.parishod.watomatic.activity.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.parishod.watomatic.activity.customreplyeditor.CustomReplyEditorActivity"
            android:label="@string/mainAutoReplyLabel"
            android:parentActivityName="com.parishod.watomatic.activity.main.MainActivity"
            android:exported="true">
            <intent-filter android:label="global-auto-reply-message-intent">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "watomatic://auto-reply” -->
                <data android:scheme="watomatic"
                    android:host="auto-reply" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.parishod.watomatic.activity.about.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="com.parishod.watomatic.activity.main.MainActivity"
            android:exported="false"
            >
        </activity>

        <activity
            android:name="com.parishod.watomatic.activity.settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.parishod.watomatic.activity.main.MainActivity"
            android:exported="false"
            >
        </activity>

        <activity
            android:name="com.parishod.watomatic.activity.advancedsettings.AdvancedSettingsActivity"
            android:label="@string/advanced_settings"
            android:parentActivityName="com.parishod.watomatic.activity.settings.SettingsActivity"
            android:exported="false"
            >
        </activity>

        <activity
            android:name=".activity.contactselector.ContactSelectorActivity"
            android:label="@string/contact_selector"
            android:parentActivityName=".activity.advancedsettings.AdvancedSettingsActivity"
            android:exported="false"
            >
        </activity>

        <activity
            android:name="com.parishod.watomatic.activity.notification.NotificationIntentActivity"
            android:launchMode="singleTop"
            android:exported="false"
            >
        </activity>

        <activity android:name=".activity.enabledapps.EnabledAppsActivity"
            android:label="@string/enabled_apps_title"
            android:parentActivityName=".activity.main.MainActivity"
            android:exported="false"/>

        <activity android:name=".activity.donation.DonationActivity"
            android:label="@string/donations_activity_title"
            android:parentActivityName=".activity.main.MainActivity"
            android:exported="false"/>

        <service
            android:name="com.parishod.watomatic.NotificationService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name=".service.KeepAliveService"
            android:stopWithTask="false"
            android:exported="true"/>

        <!--https://techstop.github.io/android-broadcastreceiver/-->
        <receiver android:name=".receivers.NotificationServiceRestartReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <!--For HTC devices-->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>